<?xml version="1.0"?>
<robot name="trash_can">

  <link name="trash_can">
    <inertial>
      <mass value="0.4193"/>
      <origin xyz="0 0 0"/>
      <inertia
        ixx="0.00212027306"
        ixy="0"
        ixz="0"
        iyy="0.00212027306"
        iyz="0"
        izz="0.00023013446"
      />
    </inertial>

    <visual>
      <geometry>
        <mesh filename="/home/kchura01/catkin_ws/src/locobot_custom/urdf/meshes/trash_can.dae"
         scale="7 7 7"/>
      </geometry>
      <origin xyz="0 0 0"/>
      <material name="blue"/>
    </visual>
    
    <collision>
      <geometry>
        <mesh filename="/home/kchura01/catkin_ws/src/locobot_custom/urdf/meshes/trash_can.dae"
         scale="7 7 7"/>
      </geometry>
      <origin xyz="0 0 0"/>
    </collision>
  </link>

  <gazebo reference="trash_can">
    <material>Gazebo/Red</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

</robot>